/*
Styles specifically for the Horizontal Template
*/

@mixin georgia-headers {
    h1, h2, h3, h4 {
  	text-align: center;
  	font-family: Georgia, serif;
  	font-size: 1.5em;
  	font-weight: normal;
  	padding: 32px;
  	border-bottom: 1px dotted #ccc;
  	a {
  		text-decoration: none;
  		color: #000;
  	}
  }
}
body.home, body.archive {
  #main.horizontal {
    overflow: auto;
    position: static;
    .content {
      float: left;
      max-width: 538px;
      min-width: 240px;
      margin: 0 20px 20px 0;
      .article-container {
        overflow: auto;
        width: auto;
        padding: 0;
        article.post {
          margin: 0 0 20px 32px;
          min-width: 240px;
        }
        .post-thumbnail {
          float: left;
          margin: 1em 1em 1em auto;
        }
        p {
          width: auto;
          min-width:240px;
        }
      }
    	.post-meta {
    		margin: 0.25em 0 0.5em;
    		color: #aaa;
    		font-size: 12px;
    		text-align: right;
    	}
    }
    aside.sidebar {
      line-height: 1.4;
      float: left;
      width: 240px;
      margin: auto 0px 32px 32px;
    }
    .posts-nav-links {
      text-align: center;
      font-size: 0.8em;
    }
  } 
}